[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[user]
	name = Arthur Belleville
        email = arthur.belleville@datadoghq.com
        signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMQUWBFtSDPajw4G+w+kinK3Nl7ZYR2tBpw5G8/FmBef arthur.belleville+git-commit-signing@datadoghq.com
[commit]
        gpgsign = true
[gpg]
        format = ssh
